# python
__pycache__/
.pycache/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# node
node_modules/

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# env
.env
.env.*

# db
*.db-journal

# misc
*.log
